/* Table of contents
    + Common Styles & Initials
    + Content
        - Countdown
        - Left bar + Content
        - Contact
        - Subscribe
        - Home
    + Responsive
*/


html, body {
  overflow: hidden;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.list-group-item {
  padding: 10px 15px 10px 0;
  background: none;
  border: none;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
  color: #656f74;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.overlay_black_25 {
  z-index: 0;
  background: #000;
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay_black_5 {
  z-index: 0;
  background: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.bg_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.space_5 {
  width: 100%;
  height: 5vh;
  display: inline-block;
}

body .vegas-container {
  position: fixed;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh !important;
}

.background_youtube {
  z-index: -11;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
.background_youtube img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; }


#stripes {
  position: fixed;
  top:0;
  left: 75px;
  width: calc(100% - 75px);
  height: 100vh;
  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
  clip-path: polygon(100% 0, 100% 70%, 0 99%, 0 0);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

#stripes :nth-child(1) {
  grid-area: 1 / 1 / span 4 / span 2;
  background-color: #53f;
  clip-path: polygon(0 0, 100% 0%, 100% 60%, 0% 100%);
}

#stripes :nth-child(2) {
  grid-area: 1 / 3 / span 3 / span 2;
  background-color: #4553ff;
  clip-path: polygon(0 0, 100% 0%, 100% 74%, 0% 100%);
  transform: translateY(-30px);
}

#stripes :nth-child(3) {
  grid-area: 1 / 5 / span 2 / span 2;
  background-color: #4f40ff;
  clip-path: polygon(0 0, 100% 0, 99% 5%, 0 70%);
}

#stripes :nth-child(4) {
  grid-area: 3 / 11 / span 3 / span 2;
  clip-path: polygon(0 23%, 100% 0%, 100% 77%, 0% 100%);
  background-color: #0dcfff;
}

#stripes :nth-child(5) {
  grid-area: 8 / 1 / span 5 / span 4;
  clip-path: polygon(0 23%, 100% 0%, 100% 80%, 0% 100%);
  transform: translateY(10px);
  background-color: #1fa2ff;
}

$ease-cb: cubic-bezier(.19,1,.22,1);

//--------------------------
//  nth-trans-delay()
//  @description: Transition Delay on nth-childs
//  @param: $delay_items: [7]    - number of nth-of-type items to create
//  @param: $delay_time:[1.5s]   - transition-dealy value
//--------------------------
@mixin nth-trans-delay($delay_items: 7, $delay_time: 0.2s){
  @for $i from 1 through $delay_items {
    &:nth-child(#{$i}) {
      transition-delay: $delay_time * $i;
    }
  }
}

//--------------------------
//  nth-ani-delay()
//  @description: Animation Delay on nth-childs
//  @param: $delay_items: [7] - number of nth-of-type items to create
//  @param: $delay_time:[1.5s] - transition-dealy value
//--------------------------
@mixin nth-ani-delay($delay_items: 7, $delay_time: 0.2s){
  @for $i from 1 through $delay_items {
    &:nth-child(#{$i}) {
      animation-delay: $delay_time * $i;
    }
  }
}

//--------------------------
//  bg-overlay()
//  @description:pseduo overlay element
//  @param: $bg_hex: [$color-dark] - hex value for rgba conversion
//  @param: $bg_opacity:[0.6] - alpha transparency level
//  @param: $top_layer: element or class name for higher z-index layer
//--------------------------
@mixin bg-overlay($bg_hex: #111, $bg_opacity: 0.6, $top_layer: 'header') {
  &:after {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba($bg_hex, $bg_opacity);
  }

  // Layer atop overlay
  & > #{$top_layer}{
    z-index: 2;
    position: relative;
  }
}

.mast{
  position: relative;
  display:flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: #111;
  @include bg-overlay(#111, 0.9);

  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: 50%;
  }

  &__header{
    padding: 5%;
  }
  // Letter animation
  &__title span{
    animation: letter-glow 0.7s 0s ease both;
    @include nth-ani-delay(25, 0.05s);
  }
  //Letter animation
  &__text{
    font-size: 1em;
    margin: 0 0 0.5em;
    line-height: 1.5;
    white-space: pre;
  }

  &__text span{
    animation: letter-glow 0.7s 0s ease both;
    @include nth-ani-delay(180, 0.05s);
  }

  &__text.sa span {
    animation: letter-glow 0.7s 0s ease both;
    @include nth-ani-delay(180, 0.05s);
  }
}

// Letter Glow
@keyframes letter-glow{
  0%   { opacity: 0; text-shadow: 0px 0px 1px rgba(255,255,255,0.1)}
  66%  { opacity: 1; text-shadow: 0px 0px 20px rgba(255,255,255,0.9) }
  77%   { opacity: 1;  }
  100% { opacity:1; text-shadow: 0px 0px 20px rgba(255,255,255,0.0)}
}


.btn {
  background: #fff;
  border: 2px solid #004af5;
  color: #004af5;
  border-radius: 30px;
  padding: 0 35px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 44px;
  height: 46px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  &:before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 46px;
    background: #0f4deb;
    transition: .5s;
    border-radius: 46px;
    z-index: 0;
  }
  &:hover, &:focus {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

// ----------------------------------------------------------------------------------------------------------------
// Countdown
// ----------------------------------------------------------------------------------------------------------------

.countdown {
  margin-top: 5%;
  li {
    display: inline-block;
    font-size: 2.5vmax;
    margin-right: 10px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    color: #fff;
    span {
      font-size: 16px;
      letter-spacing: .5px;
    }
  }
  h5 {
    font-size: 1.5vmax;
  }
}

// ----------------------------------------------------------------------------------------------------------------
// Left
// ----------------------------------------------------------------------------------------------------------------

.left {
  width: 75px;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background: rgba(255, 255, 255, .85);
  overflow: hidden;
  .content {
    opacity: 0;
    visibility: hidden;
    padding: 5% 10%;
    color: #d8d8d8;
    letter-spacing: .5px;
    display: table;
    height: 100vh;
    overflow: scroll;
    .content-left {
      display: table-cell;
      vertical-align: middle;
      width: 50%;
      padding-right: 5%;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 10vh;
        width: 1px;
        height: 80vh;
        background: rgba(255, 255, 255, 0.1);
      }
      .services {
        .service {
          h4 {
            font-size: 1.6vmax;
            font-weight: bold;
            letter-spacing: 1px;
            position: relative;
            display: inline-block;
            color: #f5f5f5;
            &:before {
              content: '';
              position: absolute;
              left: -1px;
              bottom: 0;
              width: 100%;
              height: 10px;
              background: linear-gradient(to right, #0f4deb, #4c08f1);
              z-index: -1;
            }
          }
        }
      }
    }
    .content-right {
      display: table-cell;
      vertical-align: middle;
      width: 50%;
      padding-left: 5%;
    }
    .title {
      font-size: 4vmax;
      font-weight: bold;
      letter-spacing: 1px;
      position: relative;
      display: inline-block;
      color: #f5f5f5;
      &:before {
        content: '';
        position: absolute;
        left: -1px;
        bottom: 4px;
        width: 100%;
        height: 10px;
        background: linear-gradient(to right, #0f4deb, #4c08f1);
        z-index: -1;
      }
    }
    .ccc {
      .cc {
        width: 33.3333%;
        float: left;
        text-align: center;
        img {
          margin: 0 auto 15px;
          width: 30px;
        }
      }
    }
  }
}

.b-a {
  transition: all .5s;
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 30px;
  border-radius: 15px;
  background-color: #656f74;
}

.menu-collapsed {
  transition: all .5s;
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  width: 75px;
  z-index: 1;
  ul {
    transition: all 0s;
    position: fixed;
    left: -9000px;
  }
}

.bar {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 23px;
  top: 17px;
  cursor: pointer;
  &:hover span {
    width: 30px;
    &:after {
      width: 30px;
    }
  }
  span {
    @extend .b-a;
    position: fixed;
    left: 22.5px;
    top: 30px;
    width: 20px;
    &:before {
      @extend .b-a;
      top: -6px;
    }
    &:after {
      @extend .b-a;
      width: 10px;
      top: 6px;
    }
  }
}

.b-a-expanded {
  transition: all .5s;
  top: -0px;
}

.menu-expanded {
  transition: all .5s;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: scroll;
  overflow-x: hidden;
  .content {
    opacity: 1;
    visibility: visible;
    transition: .5s;
    transition-delay: .5s;
  }
  ul {
    transition: all 0s;
    position: relative;
    left: 0;
    z-index: 2;
  }
  .bar span {
    transition: all .5s;
    background-color: transparent;
    &:before {
      @extend .b-a-expanded;
      transform: rotate(45deg);
      width: 30px;
      background-color: #fff;
    }
    &:after {
      @extend .b-a-expanded;
      transform: rotate(-45deg);
      width: 30px;
      background-color: #fff;
    }
  }
}

.share {
  position: absolute;
  bottom: 25px;
  height: 100px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 11px;
  width: 75px;
  text-align: center;
  &:hover {
    .sh {
      bottom: 105px;
      opacity: .5;
    }
    ul {
      bottom: 0;
      opacity: 1;
      visibility: visible;
    }
  }
  .sh {
    position: absolute;
    transform: rotate(-90deg);
    left: 3px;
    bottom: 40px;
    transition: all .5s;
    i {
      transform: rotate(90deg);
      font-size: 20px;
      position: relative;
      top: 4px;
      left: -5px;
    }
  }
  ul {
    position: absolute;
    bottom: -50px;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    font-size: 20px;
    text-align: center;
    width: 75px;
    li:first-child {
      margin-bottom: 5px;
      color: #476fe2;
    }
    li:last-child {
      color: #61c2ed;
    }
  }
}

.copyright {
  position: absolute;
  transform: rotate(-90deg);
  left: -72px;
  width: 220px;
  font-size: 11px;
  letter-spacing: .5px;
  top: calc(50vh - 30px);
  text-align: center;
}

// ----------------------------------------------------------------------------------------------------------------
// Contact
// ----------------------------------------------------------------------------------------------------------------

.contact {
  .form-control {
    border-width: 1px;
    background: transparent;
    box-shadow: none;
    border-color: rgba(101, 111, 116, 0.3);
    padding: 0 20px;
    color: #fff;
    letter-spacing: .5px;
    line-height: 46px;
    height: 46px;
    border-radius: 46px;
    position: relative;
    z-index: 1;
  }
  .form-group {
    position: relative;
    margin-bottom: 0;
    border-radius: 46px;
    overflow: hidden;
    height: 46px;
    margin-bottom: 10px;
    width: 100%;
    display: inline-flex;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 46px;
      background: linear-gradient(to right, #004af5, #4c08f1);;
      transition: .5s;
      z-index: 0;
      color: #fff;
      border-radius: 46px;
    }
    .help-block {
      position: absolute;
      top: 8px;
      right: 15px;
    }
    &:hover, &:focus {
      &:before {
        width: 100%;
        display: inline-table;
      }
      .form-control {
        color: #fff;
      }
      ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #fff;
      }

      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #fff;
      }

      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #fff;
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #fff;
      }
    }
  }
  textarea, .tt, .tt:before {
    border-radius: 32px !important;
  }
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #656f74;
    letter-spacing: .5px;
    transition: .5s;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #656f74;
    opacity: 1;
    letter-spacing: .5px;
    transition: .5s;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #656f74;
    opacity: 1;
    letter-spacing: .5px;
    transition: .5s;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #656f74;
    letter-spacing: .5px;
    transition: .5s;
  }
  .tt, .tt textarea, .tt:before {
    height: 200px;
  }
  span {
    padding: 0 5%;
    font-size: 11px;
  }
  .btn-send {
    background: none;
    margin-top: 15px;
  }
}


// ----------------------------------------------------------------------------------------------------------------
// Subscribe
// ----------------------------------------------------------------------------------------------------------------

.subscribe {
  width: 400px;
  min-height: 275px;
  position: absolute;
  bottom: 0;
  right: 5%;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, .1);
  letter-spacing: .5px;
  transition: all .5s;
  z-index: 9;
  &.aa {
    max-height: 50px;
    overflow: hidden;
    min-height: 50px;
  }
  h4 {
    width: 100%;
    text-align: center;
    line-height: 50px;
    background: linear-gradient(to right, #0f4deb, #4c08f1);
    color: #fff;
    border-radius: 10px 10px 0 0;
    margin: 0;
    box-shadow: 0 0 35px rgba(0, 0, 0, .2);
    i {
      position: absolute;
      right: 17px;
      top: 17px;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
  #subscribe-form {
    padding: 20px 7%;
    transition: all .5s;
    overflow: hidden;
    .form-control {
      border-width: 1px;
      background: transparent;
      box-shadow: none;
      border-color: rgba(101, 111, 116, 0.3);
      padding: 0 20px;
      color: #0f4deb;
      letter-spacing: .5px;
      line-height: 46px;
      height: 46px;
      border-radius: 46px;
      position: relative;
      z-index: 1;
    }
    .form-group {
      position: relative;
      margin-bottom: 0;
      border-radius: 46px;
      overflow: hidden;
      margin-bottom: 10px;
      width: 100%;
      display: inline;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 46px;
        background: linear-gradient(to right, #004af5, #4c08f1);;
        transition: .5s;
        z-index: 0;
        color: #fff;
        border-radius: 46px;
      }
      .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        margin-left: 5px;
        font-size: 12px;
      }
      &:hover, &:focus {
        &:before {
          width: 93%;
          display: inline-table;
        }
        .form-control {
          color: #fff;
        }
        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color: #fff;
        }

        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: #fff;
        }

        ::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: #fff;
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #fff;
        }
      }
    }
  }
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #656f74;
    letter-spacing: .5px;
    transition: .5s;
  }

  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #656f74;
    opacity: 1;
    letter-spacing: .5px;
    transition: .5s;
  }

  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #656f74;
    opacity: 1;
    letter-spacing: .5px;
    transition: .5s;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #656f74;
    letter-spacing: .5px;
    transition: .5s;
  }
  span {
    padding: 0 5%;
    font-size: 11px;
  }
  .btn-send {
    transition: all .5s;
    line-height: 44px;
    &:hover {
      background: linear-gradient(to right, #004af5, #4c08f1);
    }
  }
}


// ----------------------------------------------------------------------------------------------------------------
// Home
// ----------------------------------------------------------------------------------------------------------------

.home {
  position: relative;
  z-index: 1;
  height: 100vh;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  overflow-y: scroll;
  &:before {
    content: '';
    position: fixed;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  &:after {
    content: '';
    position: fixed;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent, transparent, transparent);
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  &.svg {
    &:before, &:after { display: none }
  }
  .content {
    width: 65%;
    padding: 10%;
    color: #fff;
    h1 {
      font-size: 6vmax;
      font-weight: bold;
    }
    h2 {
      position: relative;
      padding: 0 15px;
      margin: 3% 0 7%;
      display: inline-block;
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3vmax;
        background: #fff;
        z-index: -1;
        top: 0;
        left: 0;
        border-radius: 10px;
        box-shadow: 0 3px 40px -10px #000;
      }
      span {
        font-size: 2vmax;
        font-weight: bold;
        background-image: linear-gradient(to right, #004af5, #4c08f1);
        color: transparent !important;
        -webkit-background-clip: text;
      }
    }
  }
}


// ----------------------------------------------------------------------------------------------------------------
// Responsive
// ----------------------------------------------------------------------------------------------------------------

@media all and (min-width: 1600px) {
  body, .countdown #countdown li span, .home  {
    font-size: .8vmax;;
  }
  .subscribe {
    width: 500px;
    min-height: 340px;
    h4 {
      font-size: 1.2vmax;
      height: 60px;
      line-height: 60px;
      .subscribe h4 i {
        right: 25px;
        top: 25px;
      }
    }
    #subscribe-form .form-control {
      border-width: 2px;
      line-height: 60px;
      height: 60px;
      font-size: .8vmax;
    }
    #subscribe-form .form-group:before {
      height: 60px;
    }
  }
  .contact .form-group:before {height: 60px}
  .btn {
    height: 60px;
    line-height: 58px;
    padding: 0 50px;
    font-size: .8vmax;
  }
  .subscribe span {
    font-size: 12px;
  }
  .subscribe.aa {
    max-height: 60px;
    min-height: 60px;
  }
  .contact .form-group {
    height: 60px;
  }
  .contact .form-control {
    border-width: 2px;
    line-height: 60px;
    height: 60px;
    font-size: .8vmax;
  }
  .left .content .content-left:before {
    width: 2px;
  }
  .contact .tt, .contact .tt textarea, .contact .tt:before {
    height: 200px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1366px) {
  .subscribe {
    width: 360px;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .home .content {
    width: 100%;
    padding: 10% 10% 10% 15%;
  }
  .left .content .content-left {
    width: 100%;
    padding-right: 0;
    display: inline-block;
    margin-bottom: 10%;
  }
  .left .content .content-right {
    width: 100%;
    padding-left: 0;
    display: inline-block;
  }
  .left .content .content-left:before {
    display: none;
  }
}
@media all and (max-width: 767px) {
  .subscribe {
    width: 70vw;
    position: fixed;
    z-index: 9;
  }
  .home .content {
    width: calc(100% - 50px);
    float: right;
    padding: 5%;
  }
  .left, .share, .share ul {
    width: 50px;
  }
  #stripes {
    left: 50px;
    width: calc(100% - 50px);
  }
  .share .sh i {
    position: absolute;
    top: -2px;
    left: -25px;
  }
  .subscribe h4 {
    line-height: 40px;
    font-size: 14px;
  }
  .subscribe.aa {
    max-height: 40px;
    min-height: 40px;
  }
  .copyright {
    left: -85px;
  }
  .menu-collapsed {
    height: 50px;
    width: 50px;
  }
  .bar {
    left: 10px;
    top: 10px;
  }
  .bar span {
    left: 9.5px;
    top: 24px;
  }
  .countdown h5 {
    font-size: 2.5vmax;
  }
  .menu-collapsed.menu-expanded {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding: 5%;
  }
  .left .content .content-left {
    width: 100%;
    padding-right: 0;
    display: block;
  }
  .left .content .content-right {
    width: 100%;
    padding-left: 0;
    display: block;
  }
  .left .content .content-left:before {
    display: none;
  }
  .left .content .title {
    font-size: 6vmax;
  }
  .left .content .ccc .cc {
    width: 100%;
    margin-bottom: 15px;
  }
  .home {padding-bottom: 15%}
  .home .content h2 span {
    font-size: 16px;
  }
  .home .content h2:before {
    height: 24px;
  }
  .subscribe h4 i {
    top: 15px;
  }
}
::-webkit-scrollbar {
  display: none;
}






































































